html, body{
	padding: 0;
	margin: 0;
}
.top-bar p{
	font-family: 'Open Sans', sans-serif;
	margin: 10px;
}
.top-bar{
	display: flex;
	justify-content: flex-end;
}
.header-img{
	width: 100%;
	background: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0 50px 0;
}
.header-button{
	display: flex;
	justify-content: center;
}
.header-zag{
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	color: white;
}
.header-prop{
	font-family: 'Open Sans', sans-serif;
	color: white;
}
.buuton1 button{
	border: 2px;
	border-color: green;
	color: white;
}
.buuton2 button{
	border: 2px;
	border-radius: 50px;
	border-color: white;
	background: green;
}
.btn {
	border: 5px solid;
	border-radius: 10px;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}
.success {
	border-color: #FFF;
	background-color: #4CAF50;
	color: white;
}
.success2 {
	border-color: #4CAF50;
	background-color: #FFF;
	color: #4CAF50;
}
.aboute-zag{
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
}
.aboute-prop{
	font-family: 'Open Sans', sans-serif;
}
.aboute-us{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.design{
	display: flex;
	justify-content: space-around;
}
.Fully-Responsive{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.One-Page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.Awesome-Icons{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.design-zag{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
}
.design-prop{
	font-family: 'Open Sans', sans-serif;
}
.services{
	background: #e4fdf9;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.services-zag{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
}
.services-prop{
	font-family: 'Open Sans', sans-serif;
}
.servis-file1{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.servis-file2{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.reaserch{
	background: #00897b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.reaserch-zag{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	margin: 5px;
}
.reaserch-prop{
	font-family: 'Open Sans', sans-serif;
	margin: 5px;
}
.reaserch{
	border-color: #FFF;
	background-color: #00897b;
	color: white;
	margin: 10px
}
.portfolio{
	background: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
.reaserch2{
	border-color: #00897b;
	background-color: #FFF;
	color: black;
}
footer{
	display: flex;
	justify-content: space-around;
}
footer p{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
}
@media only screen and (max-width: 630px) {
	.design{
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
	.servis-file1{
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
	.servis-file2{
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
}
