html body{
	padding: 0;
	margin: 0;
}
.menu{
	width: 100%;
	height: 66 px;
	background-color: #0C5061;
	display: flex;
}
.menu-ul{
	width: 100%;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
}
#topmenu a{
	font-weight:bold;
	color: #000;
	text-decoration: none;
}
#topmenu li{
	height: 66px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
    margin-right: 7px;
}

#topmenu .icon {
    display: inline-block;
    margin-top: 7px;
}
.menu-css{
	background-color: #FA8231;
}
.menu-html{
	background-color: #F74440;
}


    padding: 0 5px 0 15px;
    margin-left: -10px;