html body{
  padding: 0;
  margin: 0;
  background-color: #1AA6B7;
}
.menu{
  width: 100%;
  height: 66 px;
  background-color: #0C5061;
  display: flex;
}
.menu-ul{
  width: 100%;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}
#topmenu a{
  font-weight:bold;
  color: #000;
  text-decoration: none;
}
#topmenu li{
  height: 66px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
    margin-right: 7px;
}

#topmenu .icon {
    display: inline-block;
    margin-top: 7px;
}
.menu-html{
  background-color: #FA8231;
}
.menu-css{
  background-color: #F74440;
}
.search{
  width: 90%;
  height: 39px;
}
.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 64px;
  background-color: #F74440;
}
#myMenu {
  background-color: #1AA6B7;
  overflow-x: auto;
  width: 100%;
  height: 400px;
  margin: 0;
  padding-left: 0; 
}
#myMenu a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 25px;
}
.information{
  background-color: #FF6238;
  width: 100%;
  height: 650px;
  overflow-x: auto;
  font-weight: bold;
  font-size: 20px;
}
.tegs{
  display: flex;
  flex-direction: column;
}
.information-familiya{
  display: flex;
}
footer{
  width: 100%;
  height: 100px;
  background-color: #0C5061;
  display: flex;
  justify-content: center;
  align-items: center;

}
